$fonts-path-pt-sans: "/assets/fonts/pt-sans";
$font-color: #7A8095;
$font-color-dark: #2F323C;
$font-color-grey:#B2B2B2;
$font-color-dark-grey: #B5BDC2;
$font-color-ultra-light: #E7EBEE;
$color-light-grey: #f3f6f9;

$left-sidebar-bg: #242432;
$left-sidebar-font-color: #AFBDC2;
$left-sidebar-font-color-dark: #575D70;

$right-sidebar-bg: #E8EEF3;
$right-sidebar-hover-bg: #DAE8F2;
$right-sidebar-font-color: #A6ACBA;

$color-blue: #179BFF;
$color-light-blue:#E9F3FA;
$color-dark-blue: #0D7DD1;
$color-dark-grey: #797B84;
$color-dark-grey2: #575D70;
$color-red:#F8957B;
$color-red2:#F48168;
$color-mint:#10D4C6;
$color-dark-green:#346F76;

$status-green: #9BCB60;
$status-yellow: #F5A623;
$status-red: #E85238;

$input-border-color: #CFD8DE;